*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    background-color: white;
   margin: 0 auto;
   font-family: 'Circular';
   font-weight: 500;
}

.container{
    max-height: 100%;
    max-width: 90%;
    margin:0 auto;
    box-sizing: border-box;
}

.radius{
    position: relative;
    top: 0;
    left: 0;
   height: 25px;
   border-radius: 25px 25px 0 0;
   background-color: #ffffff;

   &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100% ;
    height: 25px;
    z-index: -1;
    background: linear-gradient(90deg,#cb11ab,#481173);
   }
   
}

.radius-end{
    position: relative;
    top: 0;
    left: 0;
   height: 25px;
   border-radius: 0 0 25px 25px ;
   background-color: #ffffff;

   &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100% ;
    height: 25px;
    z-index: -1;
    background-color:#481173;
   }
}

.none{
    display: none;
}

.aside {
    position: fixed;
    top: 150px;
    display: none;
    background: #f8efef;
    padding: 10px;
    width: 350px;
    height:calc(100vh - 150px);
    float: left;
    z-index: 5;

    &__p{
        cursor: pointer;
        margin: 10px;
        padding: 5px;
        font-size: 20px;
        color: #3a097a;

        &:hover{
            background-color: #ccc;
        }
    }
   }

   #menu:checked~.aside{
    display: block;
   }




.button{
    display: block;
    cursor: pointer;
    margin: 20px auto;
    border: 2px solid #cb11ab;
    color: #cb11ab;
    padding: 10px 20px;
}

.button-blue{
    cursor: pointer;
    margin: 5px auto;
    border: 2px solid #3a097a;
    background-color: #3a097a;
    color: #ffffff;
    border-radius: 10px;
 

    padding: 10px 20px;
}

.none{
    display: none;
}



@media screen and (max-width:1200px){


}

@media screen and (max-width:999px){
 
  
}

@media screen and (max-width:770px){
    .aside {
    
        top: 85px;
        
        height:calc(100vh - 85px);
    }
  
}
@media screen and (max-width:580px){

}

.image{
    display: block;
    width: 200px;
    height: 200px;
}